<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div class="container profile">
      <div class="profile-photo">
        <figure class="photo">
          <img src="assets/img/photo.jpg">
          <figcaption class="caption">Me, posing awkwardly in the middle of nowhere</figcaption>
        </figure>
      </div>
      <div class="profile-summary">
        <h2>游子慶 (Tz-Ching Yu)</h2>
        <div class="profile-bio">
          <p>Hello there.<br>I’m currently studying at National Taiwan University for a master’s degree in Electrical Engineering starting from 2020 Fall. My primary interest lies in the intersection of computer hardware and software, including micro-architecture, hardware/software co-design, and memory system.<br>In short, I’m interested in computers.</p>
        </div>
        <ul class="profile-links">
          <a href="https://github.com/kurimulion"><img src='assets/img/GitHub-Mark-Light-32px.png'></a>
        </ul>
      </div>
    </div>
    <hr>
    {{ content }}
  </body>
</html>